@import '../../../styles/settings.scss';

.root {
    display: inline-block;
    background-color: bisque;
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        margin: 20px;
    }
}
